/*
* @Author: SUNNERCMS
* @Date:   2018-04-03 16:19:08
* @Last Modified by:   SUNNERCMS
* @Last Modified time: 2018-04-07 20:35:31
*/
*{
    margin:0;
    padding:0;
}
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/*用户部分*/
.nav .user-info{
    float:left;
}
.nav .user.login{
    display: none;
}
.nav .user .link{
    margin-right:5px;
}
/*导航链接部分*/
.nav .nav-list{
    float:right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}