<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<!-- edge 模式通知 Windows Internet Explorer 以最高级别的可用模式显示内容 -->
<!-- 写一些页面的描述以及keyword，用于SEO优化 -->
<meta name="keywords"    content="MMall,happymmall,MMall电商,happymmall电商,网上购物,网上购物商城,数码产品,手机,笔记本,电脑,电视,手机,家居百货,服装服饰,母婴,图书,食品">
<meta name="description" content="一个提供数码通讯、手机、电脑、家居百货、服装服饰、母婴、图书、食品等数万种优质商品，最优质、最便捷的网上购物平台">
<link rel="dns-prefetch" href="//cdn.bootcss.com">  <!--将引用jQuery的域名进行预解析  -->
<link rel="dns-prefetch" href="//s.happymmall.com">  <!--对静态资源的域名进行预解析  -->
<link rel="dns-prefetch" href="//img.happymmall.com">  <!--图片资源的域名进行预解析  -->


<!-- DNS Prefetch 应该尽量的放在网页的前面，推荐放在 <meta charset="UTF-8"> 后面-->
<!-- name 属性提供了名称/值对中的名称，"keywords" 是一个经常被用到的名称。它为文档定义了一组关键字。某些搜索引擎在遇到这些关键字时，会用这些关键字对文档进行分类。 -->
<!-- 使用带有 http-equiv 属性的 <meta> 标签时，服务器将把名称/值对添加到发送给浏览器的内容头部 -->
<!-- content 属性
content 属性提供了名称/值对中的值。该值可以是任何有效的字符串。

content 属性始终要和 name 属性或 http-equiv 属性一起使用。 -->