/*
* @Author: SUNNERCMS
* @Date:   2018-04-03 15:07:45
* @Last Modified by:   SUNNERCMS
* @Last Modified time: 2018-04-30 21:39:27
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom:1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}