/*
* @Author: SUNNERCMS
* @Date:   2018-04-02 21:13:52
* @Last Modified by:   SUNNERCMS
* @Last Modified time: 2018-06-20 19:08:30
*/
/*css reset*/
*{
    margin:0;
    padding:0;
}
body {
    background: #f6f6f6;
    font :12px/1.5 tahoma, arial, Microsoft Yahei,sans-serif;
}
li{
    list-style:none;
}
img{
    display:block;
    border:none;
}
label{
    cursor:pointer;
}
input[type='checkbox']{
    cursor:pointer;
}
/*定宽布局*/
.w{
    position: relative;
    width:1080px;
    margin:0 auto;/*居中*/
    overflow:hidden;/*避免高度塌陷*/
}
/*panel*/
.panel{
    padding:10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size:16px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}
/*全局通用样式*/
/*隐藏类*/
.hide{
    display:none;
}
/*超链样式*/
.link{
    color:#999;
    cursor:pointer;
    text-decoration:none;
}
.link:hover{
    color:#e80012;
}
.link-text{
    color:#999;
    text-decoration:none;
}
/*btn*/
.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;/*设置元素的垂直对齐方式middle:把此元素放置在父元素的中部*/
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/*loading*/
.loading{
    margin:10px auto;/*上下外边距是10px,左右自动，居中效果*/
    display: block;
    width:65px;
    height:65px;
    border:1px solid #ddd;
    border-radius: 5px;/*四个角的水平和垂直半径都是5px*/
    background: url('../../image/icon/loading.gif') no-repeat;/*此时的image由CSS加载，不能使用webpack配置的简写*/
    opacity:.6;
}